.main>section {
    color: white;
}

.header  {
    position: absolute;
    width: 100%;
    top: 40vh;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Voyage";
    font-size: 8em;
  }

.textContainer {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #de5e40;
}

.textWrapper {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: -50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: default;
}

.textWrapper>p {
    width: 300%;
    font-family: "Voyage";
    font-size: 5vw;
    text-transform: uppercase;
    opacity: 0.1;
}